DEV_VALIDLOGIN_COMMON_EMAIL=email@test.com
DEV_VALIDLOGIN_COMMON_PASSWORD=dev123

DEV_VALIDLOGIN_ADMIN_EMAIL=email@test.com
DEV_VALIDLOGIN_ADMIN_PASSWORD=admin123

DEV_INVALIDLOGIN_COMMON_EMAIL=email@test.com
DEV_INVALIDLOGIN_COMMON_PASSWORD=wrong123

STAGING_VALIDLOGIN_COMMON_EMAIL=email@test.com
STAGING_VALIDLOGIN_COMMON_PASSWORD=staging123

STAGING_VALIDLOGIN_ADMIN_EMAIL=email@test.com
STAGING_VALIDLOGIN_ADMIN_PASSWORD=admin123

STAGING_INVALIDLOGIN_COMMON_EMAIL=email@test.com
STAGING_INVALIDLOGIN_COMMON_PASSWORD=wrong123

DEV_REGISTER_PASSWORD=TestPassword123